<div id="<%= dom_id website %>">
  <p>
    <strong>Title:</strong>
    <%= website.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= website.url %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= website.img %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= website.desc %>
  </p>

</div>
