<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">NavBar</a>
    <a class="btn btn-success" href="https://github.com/GenericOctopus?tab=repositories">
      Github Repos
    </a>

  </nav>
</div>

<div class="container">
  <div class="row">
    <% @websites.each do |website| %>
    <div class="col-md-4">
      <div class="card">
        <a href="<%=website.url%>" target="_blank"><img src="<%=website.img%>" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title"><%=website.title%></h5>
          <p class="card-text">
            <%=website.desc%>
          </p>
          <a href="<%=website.url%>" class="btn btn-primary"><%=website.title%></a>
        </div>
      </div>
    </div>
      <% end %>
  </div>
</div>
